body {
	background-image: 
		url("images/assets/creamy_marble_bg.png");
}

h1 {
	font-family: juice_itc;
	color: #FF6666;
}

p {
	font-family: verdana;
	color: #FF6666;
}

hr.dotted {
  border: none;
  border-top: 10px dotted #CC9900;
  min-width: 400px;
  max-width: 45%;
}

@font-face {
    font-family: 'juice_itc';
    src: url('juice_itc.eot');
    src: url('juice_itc.eot?#iefix') format('embedded-opentype'),
         url('juice_itc.woff') format('woff'),
         url('juice_itc.ttf') format('truetype'),
         url('juice_itc.svg#juice_itcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#header_bar {
	position: absolute;
	top: 0;
    left: 0;
	width: calc(100% - 30px);
	height: 20px;
	background: #998600;
	padding: 15px;
	text-align: right;
}

a.header {
	text-decoration: none;
	color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vcentered {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
	
.post {
	min-width: 400px;
	max-width: 45%;
	position: relative;
	text-align: center;
	background-color: white;
	margin: auto;
	padding: 16px;
}

.block_text {
	min-width: 400px;
	max-width: 75%;
	position: relative;
	text-align: center;
	background-color: white;
	margin: auto;
	padding: 16px;
}

.bg_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	opacity: 0.75;
}