body {
	background-color: #FF6666;
}

h1 {
	font-family: juice_itc;
	color: #FF6666;
}

p {
	font-family: verdana;
	color: #FF6666;
}

@font-face {
    font-family: "juice_itc";
    src: url('juice_itc.eot');
    src: url('juice_itc.eot?#iefix') format('embedded-opentype'),
         url('juice_itc.woff') format('woff'),
         url('juice_itc.ttf') format('truetype'),
         url('juice_itc.svg#juice_itcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
	
.post {
	width: 45%;
	position: relative;
	text-align: center;
	background-color: white;
	margin: auto;
	padding: 16px;
}